<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{section.settings.logo | img_url:'master' }}" alt="logo" width="{{section.settings.logo_max_width}}px">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for link in linklists[section.settings.menu].links %}
                {% if link.links != blank %}
                    <li class="nav-item dropdown">
                        <a href="{{ link.url }}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ link.title }}

                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% for childlink in link.links %}
                                <a href="{{ childlink.url }}" class="dropdown-item">
                                    {{ childlink.title }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ link.url }}" class="nav-link">
                            {{ link.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</nav>